<div class="app-content">
<div class="product">
    <div class="illustration-product">
        <img src="./assets/images/img1.jpg" alt="ảnh 1">
    </div>
    <div class="novel-product">
        <p>
            CELINE
        </p>
        <p>
            HAUTE MAROQUINERIE
        </p>
        <br>
        <p>
            MUCH LIKE CELINE COUTURE AND HAUTE PARFUMERIE, THIS OFFERING REAFFIRMS ARTISANAL EXCELLENCE.
        </p>
        <p>
            AT THE HEART OF THIS MADE TO ORDER AND EXCLUSIVE RANGE ARE TWO SIGNATURE MAISON BAGS: THE 16 AND THE TRIOMPHE.
        </p>
    </div>
</div>
</div>