<div class="app-footer">
    <div class="footer-div">
        <div class="footer-text">
            <div class="footer-text-title">
                Location:&nbsp;
            </div>
            <div class="footer-text-content">
                International site
            </div>
        </div>
        <div class="footer-text">
            <div class="footer-text-title">
                language:&nbsp;
            </div>
            <div class="footer-text-content">
                english
            </div>
        </div>
    </div>
    <div class="footer-div">
        <div class="footer-text">
            <div class="footer-text-title">
                CONTACT US
            </div>
        </div>
        <div class="footer-text">
            <div class="footer-text-title">
                MESSENGER
            </div>
        </div>
        <div class="footer-text">
            <div class="footer-text-title">
                WHATSAPP
            </div>
        </div>
        <div class="footer-text">
            <div class="footer-text-title">
                LEGAL TERMS
            </div>
        </div>
        <div class="footer-text">
            <div class="footer-text-title">
                PRIVACY POLICY
            </div>
        </div>
        <div class="footer-text">
            <div class="footer-text-title">
                FAQ
            </div>
        </div>
    </div>
    <div class="footer-div">
        <div class="footer-text">
            <div class="footer-text-title">
                INSTAGRAM
            </div>
        </div>
        <div class="footer-text">
            <div class="footer-text-title">
                FACEBOOK
            </div>
        </div>
        <div class="footer-text">
            <div class="footer-text-title">
                WECHAT
            </div>
        </div>
        <div class="footer-text">
            <div class="footer-text-title">
                YOUTUBE
            </div>
        </div>
    </div>
    <div class="footer-div">
        <div class="footer-text">
            <div class="footer-text-title">
                NEWSLETTER CELINE
            </div>
        </div>
        <div class="footer-text">
            <div class="footer-text-title">
                NATIONALITY / PASSPORT (OPTIONAL)
            </div>
        </div>
    </div>
</div>