<div class="app-sider">
    <div class="img-logo">
        <img mat-card-image src="./assets/images/logo_defool1.jpg" alt="">
    </div>
    <div class="app-menu">
        <div class="menu-group">
            <div class="menu-item">
                <p>
                    defool women
                </p>
            </div>
            <div class="menu-item">
                <p>
                    defool men
                </p>
            </div>
        </div>
        <div class="menu-group">
            <div class="menu-item">
                <p>
                    store locator
                </p>
            </div>
            <div class="menu-item">
                <p>
                    sign in / register
                </p>
            </div>
            <div class="menu-item">
                <p>
                    contact us
                </p>
            </div>
        </div>
        <div class="menu-group">
            <div class="menu-item">
                <p>
                    search
                </p>
            </div>

        </div>
    </div>
</div>